body{
   background: #333;
    color: white;
}
.navbar{
    border-bottom: 2px solid blue;
}
#home-section{
    background-image:url(img/home.jpg);
    background-attachment: fixed;
    background-size: cover;
    min-height: 700px;
}
.home-inner .fas{
    background-color: white;
    color:blue;
}
#explore{
    text-align: center;
    padding: 40px 0px;
    text-justify: auto;
}
#create{
    height: 240px;
    background-color: #007BFF;
    color: white;
    padding: 30px 0px;
    text-align: center;
    
}
.create-text{
    padding: 50px 0px;
    background-color: white;
    color:black;
    height: 420px;
}
.footer-section{
    text-align: center;
    color: white;
    padding: 30px 0px;
}
